@font-face {
font-family: "pressstart";
src: url(../img/PressStart2P.ttf);
}


body{
    background-color: #66A9D2;
    margin: 0px;
    font-family: arial, sans-serif;
    font-size: 16px;

}
nav#primarymenu{
    background-color: #1A1A1A;
    color: #FFF;
    font-weight: 800;
    padding: 6px;
}
nav#primarymenu ul{
    display: inline;
}
nav#primarymenu li{
    display: inline-block;
    list-style: none;
}
nav#primarymenu a,
nav#primarymenu a:visited,
a,
a:visited,
#similar a,
#similar a:hover
{
    color: #FFF;
    padding: 6px 10px;
    text-decoration: none;
}
nav#primarymenu a:hover,
a:hover,
#similar a:hover
{
    color: #61db8f;
}
.wrapper{
    margin: auto;
    width: 75%;
}
h1{
    color: #000;
    font-family: "pressstart";
    font-size: 1.5em;
}
header h2{
    background-color: #000;
    color: #FCD36D;
    display: inline-block;
    font-family: "pressstart";
    font-size: 1.2em;
    padding: 6px 10px;
}

footer{
    background-color:#353535;
    color: #fff;
    padding: 20px;
}

fieldset{
    border: none;
    padding-left: 0;
}
input, select{
    border: 1px solid #353535;
}
select{
   /* height: 200px;*/
}
select option{
    padding: 2px 4px;
}
select option:nth-child(even){
    background-color: #666666;
    color: #fff;
}
.split {
    float: left;
    width: 49%;
}
#uni{
    float: right;
}
#uni img{
    display: block;
}

input[type='submit']{
    background-color: #1A1A1A;
    color:#FCD36D;
    font-family: "pressstart";
    font-size: 1.7em;
    padding:  5px 10px;
}
#top{
    clear:both;
}
#result fieldset,
.booktop{
    background-color: #353535;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 25px;
}
#result legend,
.booktop legend{
    background-color: #353535;
    border: 1px solid #fff;
    font-weight: 700;
    margin-left: 10px;
    padding: 5px;

}
#result .info{
    float: right;
}
#result .info img{
    float: right;
    margin-bottom: 10px;
}
#result input[type='submit']{
    font-size: 1em;
    display: block;
}
#result fieldset h3,
fieldset h2{
    margin-left: 10px;
}
fieldset .desc{
    float: left;
    margin: 10px;
    width: 70%;
}
body>.wrapper{
    margin-bottom: 20px;
}

#tabs{
    width: 25%;
    float: left;
}
#tabs ul{
    list-style: none;
}
#tabs li{
    margin-bottom: 10px;
}
#tabs ul{
    padding-left: 5px;
}

#tabs ul a,
#tabs a:visited{
    background-color: #1A1A1A;
    color:#FCD36D;
    font-family: "pressstart";
    font-size: 1em;
    padding:  5px 5px;

}
.tabs{
    float: left;
    width: 74%;
}
.review{
    background-color: #1a1a1a;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.reviewline{
    font-family: "pressstart";
}
.score{
    float:right;
    color:#FFF;
    font-family: "pressstart";
    font-size: 1em;
}
#similar ul {
    list-style: none;
}
#similar a{
    font-weight: 700;
}
.similarbook{
    margin-bottom: 10px;
}
#location ul{
    padding-left: 15px;
}